.gallery img{
    width: 19.4%;
    height: 500px;
    border: 2px solid red;
}
table, th, td {
  border:1px solid black;
}
img.logo {
    width: 100px;
}
nav ul {
    float: right;
    display:inline;
     
    list-style: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block; 
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }